.bi-heart:hover {
  color:red;
  cursor: pointer;
}
.img-juego {
  max-width: 300px;
}
.contenedor-juegos {
  max-height: 80vh !important;
  overflow-y: auto;
}

.espacio-button:hover{
background-color: #e5e5e5;
}
.espacio-button:active {
  background-color: #c3c2c2;
}

.img-mas-b {
  width: 20%;
}
.juegos-mas-buscados button div:hover {
  background-color: rgb(215, 215, 215) !important;
}


.juegos-mas-buscados div {
  max-height: 40vh !important;
  overflow-y: auto;
  border-left: none;
  border-right: none;
}
