.dispositivos .form-check {
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
}

.div-izquierdo {
  max-height: 80vh;
  display: flex !important;
  flex-direction: column !important;
}
.div-izquierdo .dispositivos {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
}

.form-check {
  padding-left: 10%;
  margin: 10px;
  border: solid 1px #dee2e6;
  border-radius: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.form-check-input {
  margin-right: 10px;
}

.form-check-label {
  height: 100%;
  display: flex;
  align-items: center;
}

.form-check-label:hover,
.form-check-input {
  cursor: pointer;
}

.form-check.disabled {
  background-color: rgb(219, 219, 219);
  cursor: default;
}

.opciones .form-check {
  border: none;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  margin: 5px !important;
}

.opciones .form-check label {
  width: 100%;
}

.opciones .form-check:hover {
  background-color: rgb(217, 217, 217);
}

.opciones {
  height: 10%;
  overflow: hidden;
  transition: height .5s ease, max-height .5s ease;
  border-radius: 5px;
}

.opciones.activa button {
  border-bottom: solid 1px #dee2e6;
}

.opciones.activa {
  height: 100vh;
}

.form-check.buscar-requi {
  border: none;
  margin-top: 15px;
}