.foto-perfil {
  width: 40px;
  border-radius: 50%;
}
.mensaje-error {
  color: red;
}
.mensaje-correcto {
  color: green;
}
.mensaje-error,.mensaje-correcto {
border: solid 1px;
display: inline-block;
padding: 3px 5px;
border-radius: 5px;
font-style: italic;
}

.empty-requi img{
width: 20px;
  height: auto;
  padding: 0;
  margin: 0;
}
.empty-requi {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
}