*,*::before,*::after {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  padding: 0;
  margin: 0;
}

.foto-perfil {
  width: 40px;
  border-radius: 50%;
}
.mensaje-error {
  color: red;
}
.mensaje-correcto {
  color: green;
}
.mensaje-error,.mensaje-correcto {
border: solid 1px;
display: inline-block;
padding: 3px 5px;
border-radius: 5px;
font-style: italic;
}

.empty-requi img{
width: 20px;
  height: auto;
  padding: 0;
  margin: 0;
}
.empty-requi {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
}

.menu {
  position: fixed; 
  right: 0;
  top: auto;
  transform: translateX(100%);
  transition: transform .4s ease;
}

.menu.es_activo{
  transform: translateX(0%);
}

.logo-navbar {
  width: 40px;
}

.min-h-85{
  min-height: 85vh !important;
}

.img-logo {
  max-width: 200px ;
}
.hidden {
  display: none !important;
}

.btn-hidden{
background-color: transparent;
border: none;
padding: 0;
margin: 0;
}

.espacio-button:hover{
background-color: #e5e5e5;
}
.espacio-button:active {
  background-color: #c3c2c2;
}