{% extends "base.html" %} 
{% load static %}
{% block contenido %}
<h1>Ayuda</h1>
<div class="d-flex flex-column">
  <div class="col-12 col-md-6">
  <div class="input-group col-6">
    <input
      name="busqueda"
      id="inputBusqueda"
      class="form-control"
      type="text"
      placeholder="Buscar pregunta"
      autocomplete="off"
    />
  </div>
</div>
  <div class="preguntas mt-3 d-flex flex-column">
    {% for pre in object_list %}
      <a href="#" class="link my-2 fs-5 align-self-start" data-id="{{pre.id}}">{{pre.pregunta}}</a>
    {% endfor %}
  </div>
</div>
{% endblock contenido %}

{% block js %}
<!-- Modal -->
<div id="modal"></div>
<!-- Fin modal -->
<script src="{% static "js/ayuda.js" %}"></script>
{% endblock js %}
