{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/buscar_juegos.css' %}" />
{% endblock head %} {% block contenido %}

<h1>Buscar juegos por dispositivo</h1>
<div class="principal d-flex flex-column flex-md-row">
  <div class="div-izquierdo col-12 col-md-4 border d-flex flex-column">
    <div class="d-flex flex-nowrap my-2 px-2 mx-3">
      <div class="input-group">
        <input
          name="busqueda"
          id="inputBusqueda"
          class="form-control"
          type="text"
          placeholder="Buscar juego"
          autocomplete="off"
        />
        <button class="input-group-text espacio-button">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
    <div class="opciones mx-4 border">
      <button class="btn-hidden w-100">Opciones</button>
      <div class="options">
        <div class="form-check">
          <input
            class="form-check-input"
            checked
            type="checkbox"
            value="procesador"
            id="procesador"
          />
          <label class="form-check-label" for="procesador"> Procesador </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            checked
            type="checkbox"
            value="ram"
            id="ram"
          />
          <label class="form-check-label" for="ram"> Ram </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            checked
            type="checkbox"
            value="grafica"
            id="grafica"
          />
          <label class="form-check-label" for="grafica"> Grafica </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            checked
            type="checkbox"
            value="espacio"
            id="espacio"
          />
          <label class="form-check-label" for="espacio">
            Espacio requerido
          </label>
        </div>
      </div>
    </div>
    {% comment %} checkbox {% endcomment %}
    <div class="form-check buscar-requi">
      <input
        class="form-check-input"
        checked
        type="checkbox"
        value="requi"
        id="requi"
      />
      <label class="form-check-label" for="requi">
        Buscar con requisitos
      </label>
    </div>
    <h2 class="fs-3 text-center">
      Dispositivo{% if dispositivos.count > 1 %}s({{dispositivos.count}}) {% else %}({{dispositivos.count}}) {% endif %}
    </h2>
    <hr class="mx-3" />
    <div class="dispositivos">
      {% for disposi in dispositivos %}
      <div class="form-check">
        <input class="form-check-input" type="radio" name="dispo"
        id="{{disposi.id}}" {% if disposi.nombre == dispositivos.first.nombre %}checked{% endif %}>
        <label class="form-check-label w-100" for="{{disposi.id}}">
          {{disposi.nombre}}
        </label>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-12 col-md-8 border juegos-muestra res-juegos">
    {% comment %} Juegos resultado {% endcomment %}
    <h2 class="w-100 text-center mt-3">¡Busca el juego que desees!</h2>
    
    </div>
  </div>
</div>
{% endblock contenido %} {% block js %}
<script>
  {% if not dispositivos %}
    Swal.fire({
    icon: 'error',
    text: 'No tiene un dispositivo agregado para buscar con sus características',
    title:"Oops..."
  }).then((result) => {
    window.location.href=`{% url "dispositivos:inicio" %}`
  })
  {% endif %}
</script>
<script 
data-url-detalle-juego="{% url "juegos:detalle_juego" "_slug_" %}"
src="{% static 'js/buscar_juegos.js' %}"></script>
{% endblock js %}
