{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/juegos.css' %}" />
<link rel="stylesheet" href="{% static 'css/carrusel.css' %}">
{% endblock head %} 
{% block contenido %} 

  <div class="d-flex">
    <h1 class="me-2">{{object.nombre}}</h1>
    {% comment %} 
    estos datos son para poner un mensaje flotante en el elemento
    data-toggle="tooltip" data-placement="top" title="Mensaje de ayuda" 
    {% endcomment %}
    <button
      id="agre-favo"
      class="btn-hidden d-flex align-items-center"
      data-toggle="tooltip"
      data-placement="top"
      title="Agregar a favoritos"
    >
      {% if not en_fav %}
        <i class="fs-2 bi-heart"></i>
        {% else %}
        <i class="fs-2 bi-heart-fill text-danger"></i>
      {% endif %}
    </button>
  </div>

  {% comment %} 
  Div contenedor 
  {% endcomment %}
  <div class="d-flex flex-column flex-md-row">
    <div class="col-12 col-md-6">
      <p>{{object.descripcion}}</p>
      <a href="{{object.urlPagina}}" class="link" target="_blank"
        >Página oficial</a
      >
      {% comment %} 
        Requerimientos y comparación con los dispositivos 
      {% endcomment %}
      <div class="mt-3">
        <h2 class="fs-5">Requisitos de PC para {{object.nombre}}</h2>
        <ul class="lista-requi">
        </ul>
      </div>
    </div>
    <div class="container-carousel col-12 col-md-6 ms-0 ms-md-3">
      {% comment %} Contenedor de imagenes {% endcomment %}
      <div class="carruseles" id="slider">
        {% for img in img_juego %}
        <section class="slider-section">
          <img src="{{img}}" alt="" />
        </section>
        {% endfor %}
      </div>
      <div class="btn-left"><i class="bi bi-caret-left-fill"></i></div>
      <div class="btn-right"><i class="bi bi-caret-right-fill"></i></div>
    </div>

  </div>

{% endblock contenido %} 
{% block js %}

<script src="{% static 'js/carrusel.js' %}"></script>
<script
data-juegolug="{{object.slug}}"
src="{% static 'js/detalle_juegos.js' %}"
></script>
{% endblock js %}
