{% extends 'base.html' %} 
{% load static %} 
{% block head %} 
<link rel="stylesheet" href="{% static "css/carrusel.css" %}"> 
<link rel="stylesheet" href="{% static "css/favoritos.css" %}"> 
{% endblock head %} 
{% block contenido %}
<h1>Juegos favoritos</h1>
<div class="d-flex flex-column flex-md-row principal">
  <div class="div-izquierda col-12 col-md-4 border d-flex flex-column">
    <h2 class="fs-3 text-center mt-2 placeholder-glow"><span class="w-75 placeholder"></span></h2>
    <hr class="mx-3" />
    <div>
      
    </div>
  </div>
  <div
    class="div-derecha col-12 col-md-8 border h-100 d-flex flex-column justify-content-center align-items-center"
  >
    {% comment %} Carrusel {% endcomment %}
    <img
          class="img-fluid rounded img-carga"
          src="https://djangoyoiner.blob.core.windows.net/juegossena/static/media/img/empty-card.jpg"
          alt="Imagen de carga"
        />
        <h5 class="w-75 text-center">
          ¡Selecciona un juego para ver sus imagenes!
        </h5>
  </div>
</div>

{% endblock contenido %} 
{% block js %} 
<script src="{% static "js/carrusel.js" %}"></script>
<script src="{% static "js/favoritos.js" %}"></script>
{% endblock js %}
