{% extends 'base.html' %} {% load static %} {% block contenido %}

<h1>Requerimientos</h1>
<div class="d-flex flex-column flex-md-row">
  {% if requi %} {% if es_admin %}
  <form id="form" class="col-12 col-md-6">
    {% endif %} {% for requisito in requi %}
    <div class="form-check">
      <input
        {% if requisito.hecho %}
        checked
        {% endif %}
        {% if not es_admin %}
        disabled
        {% endif %}
        class="form-check-input"
        type="checkbox"
        name="{{requisito.nombre}}"
        value="{{requisito.id}}"
        id="flexCheck{{requisito.nombre}}"
      />
      <label class="form-check-label" for="flexCheck{{requisito.nombre}}">
        {{requisito.numero}}. {{requisito.nombre|capfirst}}
      </label>
      {% if requisito.imagen %}
      <button
        data-bs-toggle="modal"
        data-bs-target="#modal{{requisito.id}}"
        type="button"
        class="empty-requi ms-2"
      >
        <img src="{% static 'media/img/img-empty.png' %}" alt="" />
      </button>

      {% comment %} modal {% endcomment %}
      <div
        class="modal fade"
        id="modal{{requisito.id}}"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                {{requisito.nombre|capfirst}}
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body d-flex justify-content-center">
              <img
                class="img-modal-requi border img-fluid"
                src="{{requisito.get_image}}"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      {% comment %} fin modal {% endcomment %} {% endif %}
    </div>
    {% endfor %} 
    {% if es_admin %}
    <div class="d-flex mt-3 align-items-center">
      <button type="submit" class="btn btn-primary align-self-start">
        Guardar
      </button>
      <p id="mensaje" class="ms-2"></p>
    </div>
  </form>
  {% endif %} {% comment %} Carrucel {% endcomment %}
  <div class="col-12 col-md-6">

  </div>
  {% else %}
  <h3 class="text-center">Sin requerimientos</h3>
  {% endif %} {% comment %} mockups {% endcomment %}
</div>

{% endblock contenido %} 
{% block js %}
<script>
  //inicializar la clase de las peticiones
  const P = new Peticiones();
  document.addEventListener("DOMContentLoaded", function () {
    {% if requi %}
    const form = document.querySelector("#form");
    form.addEventListener("submit",(e)=>{
      e.preventDefault();
      P.peticionFormPost(
      "form", // id formulario
       ".", //url
       (data) => {
        F.mensajeSweet("Requisitos actualizados correctamente","success");
        })
    })
    {% endif %}
  });
</script>
{% endblock js %}
