{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if titulo %}
      {{titulo}}
      {% else %}
      Juegos Sena
      {% endif %}
    </title>
    <link rel="icon" href="{% static 'media/img/logo.png' %}" />
    {% comment %} Font google roboto light 300 {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">  

    <link
      rel="stylesheet"
      href="{% static 'libs/bootstrap-5.3/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block header %} {% endblock header %}
  </head>
  <body>
    {% include 'plantillas/navbar.html' %}
    <div class="container-fluid">
      <div class="row flex-nowrap">

        <div class="col py-3">
          <div class="container-fluid container-md d-flex flex-column flex-md-row">
            <div class="border w-100">
              {% block contenido %}{% endblock contenido %}
            </div>
          </div>
        </div>

      <div
          id="container-menu"
          class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark menu"
          >
           {% include 'plantillas/menu_lateral.html' %}
        </div>
      </div>
    </div>
    <script src="{% static 'libs/bootstrap-5.3/js/bootstrap.min.js' %}"></script>
    <script>
      //Funciones del menu
      document.addEventListener("DOMContentLoaded", function () {
        const botonMenu = document.getElementById("btnmenu");
        const containerMenu = document.getElementById("container-menu");

        botonMenu.addEventListener("click", function (e) {
          e.preventDefault();
          containerMenu.classList.toggle("es_activo")
        });
      });</script>
    {% block js %}{% endblock js %}
  </body>
</html>
