{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/index/style.css' %}" />
{% endblock head %} {% block contenido %}

<div class="d-flex flex-column flex-md-row min-h-85 w-100">
  <div class="col-12 col-md-5 col-lg-4 border d-flex flex-column">
    <h2 class="text-center my-2 fs-3">Búsqueda</h2>
    <div class="d-flex flex-nowrap my-2 px-2">
      <div class="input-group">
        <input
          name="busqueda"
          id="inputBusqueda"
          class="form-control"
          type="text"
          placeholder="Buscar juego"
          autocomplete="off"
        />
        <button class="input-group-text espacio-button">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
    <div class="juegos-mas-buscados border">
      <h4 class="text-center">Juegos más buscados</h4>
      <hr class="mx-3" />
      {% comment %} Para que aparezca la informacion en un modal y con el boton
      para ir a la vista completa del juego {% endcomment %}
      <div class="border">
        {% for juego in juegos_mas %}
        <button data-slug="id_juego_{{juego.slug}}" class="btn-hidden w-100">
          <div class="d-flex p-1 border rounded m-1 align-items-center">
            <div class="m-2 w-25">
              <img class="img-fluid" src="{{juego.get_imagen}}" alt="" />
            </div>
            <h5 class="w-100 d-flex flex-column">{{juego.nombre}}</h5>
          </div>
        </button>
        {% endfor %}
      </div>
    </div>
    <div class="my-2 p-3 mt-auto d-flex justify-content-center">
      <img
        class="img-fluid img-logo"
        src="{% static 'media/img/logo.png' %}"
        alt=""
      />
    </div>
  </div>

  <div class="col-12 col-md-7 col-lg-8 border text-center">
    <h1 class="fs-2">Juegos Sena</h1>
    <h2 class="fs-3 mb-3 h2-busqueda hidden"></h2>
    <div class="contenedor-juegos mx-4 border">
      {% for juego in juegos %}
      <div class="card w-100 mb-2" id="juego_{{juego.id}}">
        <img
          src="{{juego.get_imagen}}"
          class="card-img-top img-juego mx-auto m-1"
          alt="{{juego.nombre}}"
        />
        <div class="card-body">
          <div class="d-flex justify-content-center align-item-center">
            <h5 class="card-title me-3 fs-4">{{juego.nombre}}</h5>
            {% comment %} estos datos son para poner un mensaje flotante en el
            elemento data-toggle="tooltip" data-placement="top" title="Mensaje
            de ayuda" {% endcomment %}
            <button
              class="btn-hidden"
              data-toggle="tooltip"
              data-placement="top"
              title="Agregar a favoritos"
            >
              <i class="fs-4 bi-heart"></i>
            </button>
          </div>
          <p class="card-text">{{juego.descripcion}}</p>
          <div class="d-flex flex-column align-items-center">
            <a href="{{juego.urlPagina}}" class="link mb-2" target="_blank"
              >Página oficial</a
            >
            <a
              href="{% url 'juegos:detalle_juego' juego.slug %}"
              class="btn btn-primary w-25"
              >Ver</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock contenido %} {% block js %}
<!-- Modal -->
<div
  class="modal fade"
  id="modal-info-juego"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>
<!-- Fin modal -->
<script
  data-empty-card="{% static 'media/img/empty-card.jpg' %}"
  data-urlbuscarjuegos="{% url 'juegos:buscar' %}"
  data-url-detalle="{% url 'juegos:detalle_juego' '_slug_' %}"
  src="{% static 'js/index.js' %}"
></script>
{% endblock js %}
