{% load static %}
<nav
  class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top d-flex flex-nowrap"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'inicio' %}">
      <img src="{% static 'media/img/logo.png' %}" class="logo-navbar" alt="" />
      Juegos Sena
    </a>
  </div>
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    {% if '/blogs/' == request.path %}
    <li class="nav-item">
      <a
        class="nav-link"
        aria-current="page"
        href="{% url 'blogs:requerimientos' %}"
        >Requerimientos</a
      >
    </li>
    {% endif %}
  </ul>
  <button id="btnmenu" class="btn btn-outline-primary mx-3">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
