{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{titulo}}</title>
    <link rel="icon" href="{% static 'media/img/logo.png' %}" />
    <link
      rel="stylesheet"
      href="{% static 'libs/bootstrap-5.3/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    {% block header %} {% endblock header %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top d-flex flex-nowrap">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'inicio' %}">
          <img
            src="{% static 'media/img/logo.png' %}"
            class="foto-perfil"
            alt=""
          />
          Juegos Sena
        </a>
      </div>
      <button id="btnmenu" class="btn btn-outline-primary mx-3">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <div class="col py-3">
          <div class="container">
            {% block contenido %}{% endblock contenido %}
          </div>
        </div>

        <div
          id="container-menu"
          class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark"
        >
          {% include 'plantillas/menu_lateral.html' %}
        </div>
      </div>
    </div>
    <script src="{% static 'libs/bootstrap-5.3/js/bootstrap.min.js' %}"></script>
    <script>
      
    </script>
  </body>
</html>
