{% extends 'base.html' %}
{% load static %}
{% block contenido %}

 
    <h1>Recuperar contraseña</h1>
    <p id="mensaje"></p>
    <form
    id="form"
      method="POST"
      class="border rounded p-3 col-lg-5 col-md-7 col-sm-9 col-xxl-4">
      <div class="mb-3">
        <p>Ingresa el correo de tu cuenta</p>
        <label for="email" class="form-label">
          Email:</label>
        <input required type="email" name="email" id="email" class="form-control">
      </div>
      <button class="btn btn-success w-50" type="submit">Enviar</button>
    </form>
  

{% endblock contenido %}
{% block js %}
<script>
  //Inicializo la clase de peticiones
const P = new Peticiones();
document.addEventListener('DOMContentLoaded', function(){
  const form = document.querySelector('#form')
  const mensaje=document.getElementById('mensaje')

  form.addEventListener('submit',(e)=>{
    e.preventDefault();
    P.peticionFormPost(
    "form", // id formulario
    "{% url 'usuarios:olvidoContra' %}",
    (data)=>{
      mensaje.className="mensaje-correcto"
      mensaje.textContent="Correo enviado correctamente, revisa tu bandeja de entrada"
      form.remove()
      }
    )
  })
  
})
</script>
{% endblock js %}