{% extends 'base.html' %} 
{% load widget_tweaks %} 
{% load static %} 
{% block contenido %}
<div class="d-flex flex-column w-100 border">
<h1 id="tituloH1">Dispositivos</h1>
<!--Subir dispositivo-->
<form
  id="envioTxt"
  class="d-flex flex-column border p-2 mx-3 col col-md-6"
  enctype="multipart/form-data"
>
  <div class="mb-3">
    <label for="formFile" class="form-label">Subir datos del dispositivo</label>
    <input
      class="form-control"
      name="archivo"
      type="file"
      id="formFile"
      accept=".txt"
      required
    />
  </div>
  <button
    disabled
    id="btn-form-juegos"
    class="btn btn-success w-50 mt-2 d-flex justify-content-center align-items-center"
    type="submit"
  >
    Subir
  </button>
</form>

<div class="d-flex flex-column flex-md-row flex-wrap p-2 contenedorDispo ">
  {% for dispo in object_list %}
  <div class="w-auto mx-2 mb-3 dispoCont{{dispo.id}}">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{dispo.nombre}}</h5>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary modalDispo{{dispo.id}}" disabled>
          Ver
        </button>
        <button class="btn btn-danger eliminarDispo{{dispo.id}}" disabled>
          Eliminar
        </button>
      </div>
    </div>
  </div>
  {% empty %}
  <h2>Sin dispositivos</h2>
  {% endfor %}
</div>
</div>
{% endblock contenido %} 
{% block js %}
<script src="{% static 'js/dispositivos/dispoModal.js' %}"></script>
<!-- Modal a mostrar de los dispositivos -->
<!-- Modal -->
<div
  class="modal fade"
  id="modalDispoForm"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body w-100">
        <div
          class="accordion w-100 col-12 col-sm-11 col-md-9 col-lg-7 col-xxl-5"
          id="carateristicas"
        ></div>
      </div>
    </div>
  </div>
</div>
<!-- Fin modal -->
<script>
  document.addEventListener("DOMContentLoaded",function(e) {
    const btnSubmit = document.getElementById("btn-form-juegos")
    btnSubmit.disabled = false
    const contenedorDispo=document.querySelector(".contenedorDispo")
    //const botonesModalDispo= document.querySelectorAll('button[class*="modalDispo"]');
    //const botonesEliminarDispo= document.querySelectorAll('button[class*="eliminarDispo"]');
    //const modalDispo=document.getElementById("modalDispoForm")
    //const modalTitulo=modalDispo.querySelector(".modal-title")
    //const modalBody=modalDispo.querySelector(".modal-body")
    
    // modal
    dispoModal('button[class*="modalDispo"]','button[class*="eliminarDispo"]',"modalDispoForm",".modal-title",".modal-body","btn-form-juegos","formFile")
    //formulario de subida
      //esta funcion agrega el evento asi que solo la ejecuto, y no dentro del evento submit
    peticionFormPost( // le paso los valores requeridos
      "envioTxt", // id formulario
      "{% url 'dispositivos:procesar' %}", //url hacia donde va a mandar la petición
       // la funcion a realizar
        (data) => { //creo la funcion la cual se la voy a pasar a la funcion de enviar peticion post
          if (!("error" in data)){
            //agregar el dispositivo
            mostrarDispo(data.id,data.nombre,contenedorDispo)
            dispoModal('button[class*="modalDispo"]','button[class*="eliminarDispo"]',"modalDispoForm",".modal-title",".modal-body","btn-form-juegos","formFile")
            // mensaje de guardado
            const Toast = Swal.mixin({
              toast: true,
              position: 'bottom-end',
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
              didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
              }
            })
            Toast.fire({
              icon: 'success',
              title: `Dispositivo <i>${data.nombre}</i> guardado`
            })
          }else{
            if (data.error[0] == "dipositivo ya existe"){
              Swal.fire({
                title: 'El dispositivo ya existe, ¿Desea reemplazarlo?',
                showDenyButton: true,
                confirmButtonText: 'Si',
                denyButtonText: `No`,
              }).then((result) => {
                if (result.isConfirmed) {
                  //obtengo el formulario para enviar el archivo de nuevo
                  const formArchivo=document.getElementById("envioTxt");
                  const formdata=new FormData(formArchivo)
                  formdata.append("reemplazar","true")
                  peticionPost(
                    "{% url 'dispositivos:procesar' %}",
                    formdata,
                    (data)=>{
                        formArchivo.reset()
                        const Toast = Swal.mixin({
                          toast: true,
                          position: 'bottom-end',
                          showConfirmButton: false,
                          timer: 3000,
                          timerProgressBar: true,
                          didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                          }
                        })
                        Toast.fire({
                          icon: 'success',
                          title: `Dispositivo <i>${data.nombre}</i> modificado`
                        })
                      
                    },
                    null
                    ,
                    true
                  )
                }else if (result.isDenied){
                  const formArchivo=document.getElementById("envioTxt");
                  formArchivo.reset()
                }
              })
            }else{
              Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: data.error,
              })
            }
          }
        }
    );
  })
</script>
{% endblock js %}
