{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block contenido %}
<h1 id="tituloH1">Dispositivos {% if object_list.count != 0 %}{{object_list.count}}{% endif %} </h1>

<div class="row p-2 contenedorDispo">
  {% for dispo in object_list %}
  <div class="col col-sm-6 col-md-4 mb-3 dispoCont{{dispo.id}}">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{dispo.nombre}}</h5>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary modalDispo{{dispo.id}}" disabled>Ver</button>
        <button class="btn btn-danger eliminarDispo{{dispo.id}}" disabled>Eliminar</button>
      </div>
    </div>
  </div>
  {% empty %}
  <h2>Sin dispositivos</h2>
  {% endfor %}
</div>
{% endblock contenido %}
{% block js %}
<script src="{% static 'js/dispositivos/dispoModal.js' %}"></script>
<!-- Modal a mostrar de los dispositivos -->
<!-- Modal -->
<div class="modal fade" id="modalDispoForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body w-100">
        <div class="accordion w-100 col-12 col-sm-11 col-md-9 col-lg-7 col-xxl-5" id="carateristicas"></div>
      </div>
    </div>

  </div>
</div>
<!-- Fin modal -->
<script>
  document.addEventListener("DOMContentLoaded",function(e) {
    const botonesModalDispo= document.querySelectorAll('button[class*="modalDispo"]');
    const botonesEliminarDispo= document.querySelectorAll('button[class*="eliminarDispo"]');
    const modalDispo=document.getElementById("modalDispoForm")
    const modalTitulo=modalDispo.querySelector(".modal-title")
    const modalBody=modalDispo.querySelector(".modal-body")
    dispoModal(botonesModalDispo,botonesEliminarDispo,modalDispo,modalTitulo,modalBody,'{{csrf_token}}')
  })
</script>
{% endblock js %}