{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/juegos/style.css' %}" />
{% endblock head %} 

{% block contenido %}
{% comment %} Div principal {% endcomment %}
<div class="min-h-85 w-100 d-flex flex-column">
  <h1>{{object.nombre}}</h1>
  {% comment %} Div contenedor {% endcomment %}
  <div class="d-flex flex-column flex-md-row">
    <div class="col-12 col-md-6">
      <p>{{object.descripcion}}</p>
    </div>
    <div class="container-carousel col-12 col-md-6">
    {% comment %} Contenedor de imagenes {% endcomment %}
    <div class="carruseles" id="slider">
      {% for img in img_juego %}
      <section class="slider-section">
        <img src="{{img}}" alt="">
      </section>
      {% endfor %}
    </div>
    <div class="btn-left"><i class="bi bi-caret-left-fill"></i></div>
    <div class="btn-right"><i class="bi bi-caret-right-fill"></i></div>
    </div>
  </div>
</div>
{% for img in img_juego %}

{% endfor %}

{% endblock contenido %} 

{% block js %}
<script src="{% static 'js/juegos/juegos.js' %}"></script>
{% endblock js %}
