{% extends 'base.html' %} 
{% load static %} 

{% block contenido %}

<div class="d-flex flex-column flex-md-row">
  <div class="border col-12 col-md-4">
    {% include 'plantillas/busqueda.html' %}
  </div>
  <div class="col-12 col-md-8">
    {% if user.is_authenticated %}
<h2 class="mt-2 text-center">Hola {{user.username|title}}, {{dato}}</h2>
<form id="envioTxt" class="d-flex flex-column border p-2 mx-3">
  <div class="mb-3">
  <label for="formFile" class="form-label">Caracteristicas de cpu-z</label>
  <input class="form-control" name="archivo" type="file" id="formFile" accept=".txt" required>
</div>
  <button disabled id="btn-form-juegos" class="btn btn-success w-50 mt-2 d-flex justify-content-center align-items-center" type="submit">Subir</button>
</form>
{% else %}
<h2 class="mt-2 text-center">{{dato}}</h2>
{% endif %}
<div class="mt-4">
  <div class="accordion col-12 col-sm-11 col-md-9 col-lg-7 col-xxl-5" id="carateristicas"></div>
</div>
  </div>
</div>

{% endblock contenido %} 
{% block js %}

<script src="{% static 'js/enviarpost.js' %}"></script>
<script>
document.addEventListener("DOMContentLoaded", function () { //Ejecuto cuando el dom se cargue por completo

    let callback = (data) => { //creo la funcion la cual se la voy a pasar a la funcion de enviar peticion post
      console.log(data)
    };
    {% comment %} Si el usuario esta autenticado, ejecuto la funcion para agregar la funcion y el evento al formulario {% endcomment %}
  {% if user.is_authenticated %}
    const btnSubmit = document.getElementById("btn-form-juegos")
    btnSubmit.disabled = false
    
    enviarPost( // le paso los valores requeridos
      "envioTxt", // id formulario
      "{{csrf_token}}", // token de seguridad
      "{% url 'dispositivos:procesar' %}", //url hacia donde va a mandar la petición
      callback // la funcion a realizar
    );
    {% endif %}
  });
</script>

{% endblock js %}
